{% extends "layout.html" %}

{% block title %}
    Update
{% endblock %}

{% block main %}
<h1>Update Information</h1>
    <!-- Update Form -->
    <form action="/update" method="post">
        
        <!-- User Name Input -->
        User Name  
        <input class="form-control mx-auto w-auto" name="username" type="text" value="{{user_datieal[0]['username']}}">
        <p>At least 8 characters</p>

        <!-- Email Input -->
        Email 
        <input class="form-control mx-auto w-auto" name="email" type="email" value="{{ user_datieal[0]['email']}}">

        <!-- Password Input -->
        Password  
        <input class="form-control mx-auto w-auto" name="password" type="password">

        <p>
            Password should at least 8 characters with one digit, one uppercase letter, one lowercase letter, and special characters such as $ @ # % & *
        </p>

        <!-- Submit Button -->
        <button class="btn btn-primary" type="submit"> Update </button>
    </form>

    <!-- Error Message Display -->
    <p>  {{error_maseg}} </p>

{% endblock %}
